#Inputfield_lab-charge-detail-record{
  font-family: monospace;
}

#ProcessLabChargeRecordsSpinner {
  display: none;
  font-size: 1em;
  color: #8d939e;
}

#ProcessLabChargeRecordsText {
  font-family: monospace;
}

#ProcessLabChargeRecordsForm {
  display: none;
}

#ProcessLabChargeRenderButton{
  margin-bottom: 10px;
}

.ProcessLabChargeRecords {
  margin-bottom: 10px;
}

#ProcessLabChargeControl {
  padding: 20px;
  clear: both;
  position: relative;
  height: auto;
}

#ProcessLabChargeControl > label {
  display: block;
  /*float: left;*/
  width: 100%;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #51739d;
  font-weight: bold;
  font-family: "Helvetica Neue",Arial,sans-serif;
}

#ProcessLabChargeControl > input {
  /*float: left;*/
}
